@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   h1,
   h2,
   h3,
   h4 {
      @apply text-slate-700 font-bold mb-1.5;
   }
   h1 {
      @apply text-3xl font-black mb-1;
   }
   h2 {
      @apply text-xl;
   }
   h3 {
      @apply text-lg;
   }

   p,
   li {
      @apply text-slate-500 mb-4;
   }

   p a {
      @apply font-medium;
   }

   li {
      @apply mb-0;
   }

   a {
      @apply text-slate-800 no-underline hover:underline focus:underline;
   }

   a.link-style {
      @apply my-0.5 block w-full text-left py-2 px-1 hover:underline hover:bg-gray-50 focus:bg-gray-50 transition-all rounded;
   }

   .section {
      @apply p-5 bg-white border rounded-[3px] sm:col-span-6 lg:col-span-4;
   }

   .section h3 + p {
      @apply text-sm border-b border-gray-100 pb-4;
   }

   .dropdown-group {
      @apply flex flex-wrap gap-2.5 w-full;
   }
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   @apply text-slate-500;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
   @apply bg-blue-50 px-[4px] py-0.5 rounded-sm inline-block text-slate-800;
   font-size: 0.85em;
}
